body {
  margin: 0px;
  margin-bottom: 0px;
  background-color: #d1ecfa;
  font-family:'メイリオ', 'Meiryo', sans-serif;
}

header {
  background-color: white;
  max-width: 1100px;
  margin-left: 200px;
  width: 100%;
}

img.title {
  froat: left;
  width: 500px;
  margin-bottom: 25px;
  bottom: 25px;
}

img.header_back {
  width: 170px;
  position: relative;
  left: 60px;
  bottom: 5px;
}

nav.header_menu {
  display: block;
  max-width: 1100px;
  width: 100%;
  max-height: 64.5px;
  position: relative;
  top: 1.6px;
  height: 100%;
  margin-left: 200px;
  background: #1791cf;
  background:
    url(image/arrowback.png) no-repeat center left .8em/1.4em #1791cf;
  background:
    url(image/arrowback.png) no-repeat center left .87em/1.4em,
    linear-gradient(#3eb0ea, #1588c1) #0f618a;
  font-weight: bold;
}

td {
  padding: 0px;
  position: relative;
  right: 1.5px;
  bottom: 2px;
}

a.btn {
  border-right: 0.5px solid #0c4d6e;
  width: 160px;
  height: 44px;
  text-align: center;
  padding-top: 20px;
  background: #1791cf;
  background:
    url(image/arrowback.png) no-repeat center left .8em/1.4em #1791cf;
  background:
    url(image/arrowback.png) no-repeat center left .87em/1.4em,
    linear-gradient(#3eb0ea, #1588c1) #0f618a;
  display: block;
  text-decoration: none;
  color: black;
}

a.btn:hover {
  border-right: 0.5px solid #0c4d6e;
  width: 120px;
  height: 25px;
  text-align: center;
  padding: 20px;
  background: #bae3f7;
  display: block;
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

li.main {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex: none;
  height: 100%;
  letter-spacing: 0.05em;
  font-size: 16px;
}

ul.sub {
  position: absolute;
  bottom: -390px;
  left: -14px;
  display: none;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 14px;
  width: 120px;
  background: #e4f4fc;
  z-index: 100;
}

li.sub {
  letter-spacing: 0.05em;
  font-size: 16px;
  position: relative;
  right: 10px;
}

li.sub:hover {
  color: black;
  position: relative;
  right: 40px;
  background: #f6fbfe;
  width: 160px;
  z-index: 100;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  transition: 0.15s;
}

a.sub {
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  right: 20px;
  text-decoration: none;
}

a.sub:hover {
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  left: 10px;
  text-decoration: none;
}

nav.side_menu {
  float: left;
  display: block;
  padding: 5px;
  width: 200px;
  height: 1800px; /*サイトの長さ*/
  margin-left: 200px;
  background: hsla(193, 39%, 58%, 0.72);
}

#back {
  margin: 0px;
  display: block;
  position: relative;
  right: 5px;
  bottom: 5px;
  width: 210px;
  height: 40px;
  padding-top: 10px;
  background: hsla(193, 39%, 45%, 0.72);
}

#side_menu {
  margin: 0px;
}

#side_sub_btn {
  text-indent: 1em;
}

a.side_btn {
  text-indent: 0.5em;
  margin: 0px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 8px;
  white-space: nowrap;
  position: relative;
  right: 5px;
  bottom: 5px;
  display: flex;
}

a.side_btn:hover {
  text-indent: 0.5em;
  font-size: 18px;
  color: black;
  text-decoration: none;
  background: #f6fbfe;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 140px;
  white-space: nowrap;
  position: relative;
  right: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

div.home{
  display: block;
  padding: 5px;
  max-width: 880px;
  width: 77.6%;
  height: 1800px;  /*サイトの長さ*/
  margin-left: 410px;
  background: white;
}

h1 {
  margin: 10px;
  margin-left: 0px;
  font-size: 150%;
  font-family:'游ゴシック';
  background: linear-gradient(transparent 60%, #d1e8ff 60%);
}

h2 {
  margin: 8px;
  margin-left: 0px;
  font-size: 120%;
}

h3 {
  margin-bottom: 6px;
  font-size: 100%;
}

#important {
  color: #f00000;
}

p.text {
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 25px;
  font-size: 90%;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  color: #4f4f4f;
}

p.text_in {
  margin: 0px;
  margin-left: 37px;
  margin-bottom: 25px;
  font-size: 90%;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  color: #4f4f4f;
}

p.text2 {
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 110%;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  color: #4f4f4f;
}

p.text2_in {
  margin: 0px;
  margin-left: 37px;
  margin-bottom: 10px;
  font-size: 110%;
  font-family:'メイリオ', 'Meiryo', sans-serif;
  color: #4f4f4f;
}

a.menu_btn {
  text-indent: 0.5em;
  margin: 0px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 8px;
  white-space: nowrap;
  position: relative;
  right: 5px;
  bottom: 5px;
  display: flex;
}

a.menu_btn:hover {
  width: 20px;
  text-indent: 0.5em;
  font-size: 18px;
  color: black;
  text-decoration: none;
  background: #e0f0fa;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 140px;
  white-space: nowrap;
  position: relative;
  right: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

a.pdf {
  text-decoration: none;
  position: relative;
  left: 20px;
}

footer {
  display: block;
  max-width: 1100px;
  width: 100%;
  max-height: 64px;
  height: 100%;
  margin-left: 200px;
  background: #0f618a;
  color: #e4f4fc;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 25px;
}

a.normal {
  color: #e4f4fc;
}

.main:hover .sub {
  display: block;
